Django>=5.0
djangorestframework
psycopg2-binary  # драйвер для PostgreSQL
python-dotenv    # для читання .env файлів
celery           # для фонових задач
redis            # драйвер для Redis
aiogram          # для бота
psycopg
